<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="/lib/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title><%=title%></title>
</head>
<body>
    <div class="background"></div>
    <nav class="navbar navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">博客Blog</a>
            </div>
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <form class="navbar-form navbar-left" role="search" action="/" method="post">
                    <div class="form-group">
                        <input type="text" class="form-control" placeholder="标题，内容或者作者" name="search">
                    </div>
                    <button type="submit" class="btn btn-default">搜索</button>
                </form>
                <ul class="nav navbar-nav navbar-right">
                    <%if(isLogin){%>
                    <li><a href="/articles/add">添加文章</a></li>
                    <li><a href="/users/logout"><span class="glyphicon glyphicon-off"></span></a></li>
                    <li><a href="/?userself=true"><%=username%></a></li>
                    <%}else{%>
                    <li><a href="/users/register">注册</a></li>
                    <li><a href="/users/login">登录</a></li>
                   <%}%>
                </ul>
            </div>
        </div>
    </nav>
    <%if(info.length>0){%>
    <div class="alert alert-<%=info[1]%>" role="alert"><%=info[0]%></div>
    <%}%>

